<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="custom_modules">
      <directory>web/profiles/polaris/modules/polaris_drupal_cloudinary/tests/src/Unit</directory>
      <directory>web/profiles/polaris/modules/polaris_drupal_article/tests/src/Unit</directory>
      <directory>web/profiles/polaris/modules/polaris_drupal_datalayer/tests/src/Unit</directory>
      <directory>web/profiles/polaris/modules/polaris_drupal_content_api/tests/src/Functional</directory>
      <exclude>web/modules/contrib</exclude>
    </testsuite>
  </testsuites>
</phpunit>